/node_modules
/public/storage
/public/framework
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.env.example
composer.phar
known_composer.lck
print_routes.txt
load_error.txt
effort/*