@CHARSET "ISO-8859-1";

#nav {
    width: 847px;
    padding: 0px;
    height: 50px;
    border: 2px solid blue;
    background-color: blue;
}

#top-content {
    margin-top: 20px;
    padding: 0;
    width: 100%;
    border: 1px solid black;
}

.overlay {
    z-index: 100;
    position: absolute;
    left: 80px;
    top: 345px;
    color: black
}

#text {
    color: black;
    -webkit-text-stroke: 1px black;
}

h2 {
    margin-left: 10px;
}

p {
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;
}

.img {
    width: 100%
}

#mainimage {
    width: 100%;
    padding: 0px;
    height: 300px;
    border: 2px solid black;
    position: relative
}

#posttext {
    width: 847px;
    height: 100px;
    border: 2px solid black;
}

#padding {
    padding: 2px;
}

.mid_align {
    vertical-align: middle;
}

.fa-tiny-circle {
    font-size: 7px;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

@import url(https://fonts.googleapis.com/css?family=Khula:700);


.na {
    margin-top: 100px;
}

.hidden {
    opacity: 0;
}

.console-container {

    font-family: Verdana;
    font-size: 3em;
    text-align: left;
    height: 200px;
    width: 847px;
    display: block;
    position: absolute;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
}